/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote::before, blockquote::after,
q::before, q::after {
  content: '';
  content: none;
}

:root {
  --primary-text: #132730;
  --secondary-text: slategrey;
  --link-text: mediumvioletred;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  padding: 1.5em;
  font-family: 'Anonymous Pro', monospace;
  font-weight: 200;
  line-height: 1.4;
}

.container {
  margin: 0 auto;
  display: grid;
  gap: 3em 90px;
}

@media screen and (max-width: 910px) {
  .container {
    max-width: 505px;
  }
}

@media screen and (min-width: 911px) {
  .container {
    width: 855px;
    grid-template-columns: 505px 1fr;
  }
}

.header-main {
  grid-column: 1 / -1;
}

.header-main {
  padding-bottom: .5em;
  border-bottom: 2px solid var(--primary-text);
  font-weight: 700;
}

.header-main nav {
  display: flex;
  justify-content: flex-end;
  gap: 1em;
}

.header-main .home {
  margin-right: auto;
}

.header-main a {
  color: var(--primary-text);
  text-decoration: none;
}

.header-main a:hover {
  text-decoration: underline;
}

aside * + *,
main * + * {
  margin-top: 1.3em;
}

main li + li,
aside li + li {
  margin-top: .5em;
}

aside {
  font-size: .85em;
}

aside a {
  color: var(--link-text);
  text-decoration: none;
}

aside a:hover {
  text-decoration: underline;
}

img {
  width: 100%;
  display: block;
}

em {
  font-style: italic;
}

strong {
  font-weight: 700;
}

a {
  color: var(--link-text);
}

hr {
  border: none;
  border-top: 1px dotted #888;
  height: 1px;
}

ol.numbered {
  padding-left: 3em;
  list-style-type: decimal;
}

.center {
  text-align: center;
}

.center img {
  margin-left: auto;
  margin-right: auto;
}

.entry,
.postlist-item {
  border-bottom: 1px dotted #ddd;
}

.postlist-item {
  padding: .3em 0 .6em;
}

.entry + .entry {
  margin-top: 3em;
}

.entry-title,
main h1 {
  font-size: 1.4em;
  font-weight: 700;
}

main h1 .tag {
  color: var(--secondary-text);
  font-weigh: 300;
}

.entry-title a,
.postlist-link {
  color: var(--primary-text);
  text-decoration: none;
}

.entry-title a:hover,
.postlist-link:hover {
  color: var(--link-text);
}

.postlist-link {
  font-size: 1.2em;
  font-weight: 700;
}

.entry-date,
.postlist-date {
  display: block;
  margin-top: 0;
  color: var(--secondary-text);
  font-size: .85em;
}

.entry-content {
  font-size: .96em;
}

.entry-content .direct-link {
  display: none;
}

.entry-content h2 {
  font-weight: 700;
}

.entry-content h2 + p:has(img:first-child) {
  margin-top: .25em;
}

.entry-content img {
  margin-bottom: 1.2%;
}

.entry-content img.border {
  border: 1px solid #ddd;
}

.entry-content img.img-left {
  float: left;
  margin-right: 2%;
  width: 49%;
}

.entry-content img.img-left + img {
  width: 49%;
}

.entry-content img + img {
  margin-top: 0;
}

.entry-content .quote,
.entry-content blockquote {
  font-size: 1.5em;
  margin: 2em 0;
}

.footnotes {
  display: block;
  color: var(--secondary-text);
  font-size: .85em;
  margin-top: -.75em;
}

.youtube-video {
  aspect-ratio: 16 / 9;
  width: 100%;
}

.img-notes {
  font-size: 12px;
  margin-top: -10px;
}

.number {
  padding-left: 50px;
  min-height: 38px;
  background: transparent no-repeat 0 0;
}

.number-01 { background-image: url('/img/01.svg'); }
.number-02 { background-image: url('/img/02.svg'); }
.number-03 { background-image: url('/img/03.svg'); }
.number-04 { background-image: url('/img/04.svg'); }
.number-05 { background-image: url('/img/05.svg'); }
.number-06 { background-image: url('/img/06.svg'); }
.number-07 { background-image: url('/img/07.svg'); }
.number-08 { background-image: url('/img/08.svg'); }
.number-09 { background-image: url('/img/09.svg'); }
.number-10 { background-image: url('/img/10.svg'); }


.entry-tags {
  margin-top: 3.2em;
  padding-bottom: .5em;
  font-size: .85em;
  text-align: right;
}

.entry-tags a {
  color: var(--secondary-text);
  text-decoration: none;
}

.entry-tags a:hover {
  color: var(--link-text);
}

.entry-tags .entry-tag:not(:last-child)::after {
  content: ',';
}

.pagination {
  margin-top: 2em;
  padding: 1em 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
}

.pagination-older,
.pagination-newer{
  margin-top: 0;
  color: var(--primary-text);
  text-decoration: none;
  grid-row: 1;
  font-size: .9em;
  line-height: 1.1;
  display: grid;
  align-items: center;
}

.pagination-older:hover,
.pagination-newer:hover {
  text-decoration: underline;
}

.pagination-newer {
  background: url('/img/blog-learn-more2.svg') no-repeat 0 50%;
  background-size: 11px 15px;
  padding-left: 20px;
  grid-column: 1;
  justify-self: start;
}

.pagination-older {
  background: url('/img/blog-learn-more.svg') no-repeat 100% 50%;
  background-size: 11px 15px;
  padding-right: 20px;
  grid-column: 2;
  justify-self: end;
  text-align: right;
}

.learn-more {
  text-align: right;
}

.learn-more a {
  background: url('/img/blog-learn-more.svg') no-repeat 100% 50%;
  background-size: 11px 15px;
  padding-right: 20px;
  text-decoration: none;
}

.learn-more a:hover {
  text-decoration: underline;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
